
<div th:fragment="site-header">
    <header>
      <img th:src="@{/img/logo.png}" alt="Logo" class="logo">

      <nav>
        <a th:href="@{/carList.html}" class="nav-menu-button">Biler</a>
        <a th:href="@{/rentalAgreement/rentalAgreement}" class="nav-menu-button">Rental Agreement</a>
        <a th:href="@{/}">Skade rapport</a>
        <a th:href="@{/cars/create}" class="nav-menu-button">opret bil</a>
        <a th:href ="@{/financeReport/financeReport}" class="nav-menu-button">Finans</a>
      </nav>
    </header>
</div>