<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Lejeaftale</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/createCar.css}">
</head>
<body>
<header>
    <div th:replace="~{fragments/header.html :: site-header}"></div>
</header>
<h1>Opret Lejeaftale</h1>

<form th:action="@{/rentalAgreement/create}" method="get">
    <label for="limitFilter">Filtrér efter begrænsning:</label>
    <select id="limitFilter" name="limitFilter" onchange="this.form.submit()">
        <option value="">Alle</option>
        <option th:selected="${filter == 'limited'}" value="limited">Limited</option>
        <option th:selected="${filter == 'unlimited'}" value="unlimited">Unlimited</option>
    </select>
</form>


<form th:action="@{/rentalAgreement/create}" method="post">

    <label for="carId">Bilens registreringsnummer:</label>
    <select id="carId" name="carId" required>
        <option value="" disabled selected>Vælg en bil</option>
        <th:block th:each="car : ${carList}">
            <option th:value="${car.vehicleNumber}"
                    th:text="${car.vehicleNumber} + ' - ' + ${car.model}"></option>
        </th:block>
    </select>
    <br><br>

    <label for="customerPhoneNumber">Kundens telefonnummer:</label>
    <input type="text" id="customerPhoneNumber" name="customerPhoneNumber" required><br><br>

    <label for="userId">Medarbejder bruger navn:</label>
    <input type="text" id="userId" name="userId" required><br><br>

    <label for="startDate">Startdato:</label>
    <input type="date" id="startDate" name="startDate" required><br><br>

    <label for="duration">Varighed (i måneder):</label>
    <select id="duration" name="duration" required>
        <option value="3">3 måneder(limited/unlimited)</option>
        <option value="6">6 måneder(unlimited)</option>
        <option value="12">12 måneder(unlimited)</option>
        <option value="24">24 måneder(unlimited)</option>
        <option value="36">36 måneder(unlimited)</option>
    </select><br><br>

    <label for="allowedKM">Tilladte KM pr. måned:</label>
    <select id="allowedKM" name="allowedKM" required>
        <option value="1500">1500 km (0 kr)</option>
        <option value="1750">1750 km (250 kr ekstra)</option>
        <option value="2000">2000 km (450 kr ekstra)</option>
    </select><br><br>

    <button type="submit">Opret lejeaftale</button>
</form>

</body>
</html>
