<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Opret Finansrapport</title>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<form th:action="@{/financeReport/create}" method="post">
  <label for="rentalAgreementId">Rental Agreement ID:</label>
  <input type="number" id="rentalAgreementId" name="rentalAgreementId" required>
  <button type="submit">Opret rapport</button>
</form>

</body>
</html>
