<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret bil</title>
</head>
<body>
<h1>Opret ny bil</h1>

<h1>Opret Bil</h1>
<form th:action="@{/cars/create}" th:object="${car}" method="post">
    <div>
        <label for="vehicleNumber">Nummerplade</label>
        <input type="text" id="vehicleNumber" th:field="*{vehicleNumber}" />
    </div>
    <div>
        <label for="chassisnumber">chassisnumber</label>
        <input type="text" id="chassisnumber" th:field="*{chassisnumber}" />
    </div>
    <div>
        <label for="model">Model</label>
        <input type="text" id="model" th:field="*{model}" />
    </div>
    <div>
        <label for="equipment">Udstyr</label>
        <input type="text" id="equipment" th:field="*{equipment}" />
    </div>
    <div>
        <label for="kmDriven">Kilometer kørt</label>
        <input type="number" id="kmDriven" th:field="*{kmDriven}" />
    </div>
    <div>
        <label for="co2Emission">CO₂-udslip</label>
        <input type="number" step="0.01" id="co2Emission" th:field="*{co2Emission}" />
    </div>
    <div>
        <label for="image">Billed-URL</label>
        <input type="text" id="image" th:field="*{image}" />
    </div>
    <div>
        <label for="status">Status</label>
        <input type="text" id="status" th:field="*{status}" />
    </div>
    <div>
        <button type="submit">Gem bil</button>
    </div>
</form>
</body>

</body>
</html>
