<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <meta charset="UTF-8">
    <title>dashboard</title>

</head>
    <header>
        <div th:replace="fragments/header :: site-header"></div>
    </header>

<body>
<div class="key-metrics">
    <h2>Nøgletal</h2>
    <p>Aktive abonnementer: <span th:text="${activeSubscriptions}"></span></p>
    <p>Gennemsnitlig lejeperiode (dage): <span th:text="${avgRentalLength}"></span></p>
    <p>Antal ledige biler: <span th:text="${availableCars}"></span></p>
</div>

