<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
    <header>
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo">

        <nav>
            <a th:href="@{/}">Billiste</a>
            <a th:href="@{/}">Leje aftale</a>
            <a th:href="@{/}">Skade rapport</a>
            <a th:href="@{/}">Opret Bil</a>
            <a th:href="@{/}">Regnskab</a>
        </nav>
    </header>

<body>
<div class="key-metrics">
    <h2>Nøgletal</h2>
    <h2>Nøgletal</h2>
    <p>Aktive abonnementer: <span th:text="${activeSubscriptions}">0</span></p>
    <p>Gennemsnitlig lejeperiode (dage): <span th:text="${avgRentalLength}">0</span></p>
    <p>Antal ledige biler: <span th:text="${availableCars}">0</span></p>
</div>


</body>
</html>