<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
    <header>
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo">
        <nav>
            <a th:href="@{/carList.html}" class="nav-menu-button">Biler</a>
            <a th:href="@{/rentalAgreement/rentalAgreement}" class="nav-menu-button">Rental Agreement</a>
            <a th:href="@{/}">Skade rapport</a>
            <a th:href="@{/cars/cars/create}" class="nav-menu-button">opret bil</a>
            <a th:href="@{/finance.html}" class="nav-menu-button">Finans</a>
        </nav>
    </header>

<body>
<div class="key-metrics">
    <h2>Nøgletal</h2>
    <p>Aktive abonnementer: <span th:text="${activeSubscriptions}"></span></p>
    <p>Gennemsnitlig lejeperiode (dage): <span th:text="${avgRentalLength}"></span></p>
    <p>Antal ledige biler: <span th:text="${availableCars}"></span></p>
</div>

</body>
</html>