<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Login ind</title>
    <link rel="stylesheet" th:href="@{/css/createUser.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

    <div class="loginInformation">
            <h2>Log ind</h2>
            <form th:action="@{/user/login}" method="post">
                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
                <label for="userLogin">Bruger navn</label>
                <input type="text" id="userLogin" name="userLogin" placeholder="Dit bruger navn" required>
                <br>
                <label for="password">Adgangskode</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required>
                <br>
                <button type="submit">Log ind</button>

                <p class="signup-link">Har du ikke en konto? <a th:href="@{/user/createUser}">Opret en her</a></p>
            </form>
        </div>
</body>
</html>