<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Lejeaftale</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/rentalAgreement.css}">
</head>
<body>
<header>
    <div th:replace="~{fragments/header.html :: site-header}"></div>
</header>

<div th:class="rentalAgreement">
    <h1>Opret Lejeaftale</h1>
    <a th:href ="@{/rentalAgreement/create}" class="nav-menu-button-rental">Lav ny lejeaftale rental Agreement</a>

<form th:action="@{/rentalAgreement/rentalAgreement}" method="post">

    <label for="phone">Telefonnummer:</label>
    <input type="text" id="phone" name="phoneNumber" placeholder="f.eks. 12345678"/>

    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="">Alle</option>
        <option value="active">Aktive</option>
        <option value="inactive">Inaktive</option>
    </select>

    <button type="submit">Søg</button>
</form>

<!-- Resultattabel -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Bil ID</th>
        <th>Kunde Tlf.</th>
        <th>Brugerlogin</th>
        <th>Startdato</th>
        <th>Slutdato</th>
        <th>Aktiv</th>
        <th>KM tilladt</th>
        <th>KM over</th>
        <th>Pris per måned</th>
        <th>Handling</th>



    </tr>
    </thead>
    <tbody>
    <tr th:each="agreement, iter : ${agreements}">
        <td th:text="${iter.count}">1</td>
        <td th:text="${agreement.carId}">2</td>
        <td th:text="${agreement.customerPhoneNumber}">12345678</td>
        <td th:text="${agreement.userLogin}">demo</td>
        <td th:text="${agreement.startDate}">2025-08-20</td>
        <td th:text="${agreement.endDate}">2026-08-20</td>
        <td th:text="${agreement.active ? 'Ja' : 'Nej'}">Ja</td>
        <td th:text="${agreement.allowedKM}">20000</td>
        <td th:text="${agreement.kmOverLimit}">500</td>
        <td>
            <span th:text="${agreement.monthlyCarPrice} + ' DKK'">500 DKK</span><br>
            <span th:text="${#numbers.formatDecimal(agreement.monthlyCarPrice / 7.5, 1, 2)} + ' EUR'">66.67 EUR</span>
        </td>
        <td>
            <a th:href="@{'/rentalAgreement/updateRentalAgreement/' + ${agreement.id}}">Opdater lejeaftale</a>
            <a th:href="@{'/damageReport/damageReport?damageReportId=' + ${agreement.id}}">Skade rapport</a>

        </td>
    </tr>

    </tr>
    </tbody>
</table>
</div>
</body>
</html>
