<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Lejeaftale</title>
    <link rel="stylesheet" th:href="@{/css/updateRentalAgreement.css}">
</head>
<body>
<header>
    <!--<div th:replace="fragments/header :: site-header"></div>-->
</header>
<h1>Opdater Lejeaftale</h1>

<form th:action="@{'/rentalAgreement/updateRentalAgreement/' + ${agreement.id}}" th:object="${agreement}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="carId">Bil ID:</label>
    <input type="text" id="carId" th:field="*{carId}" />

    <label for="customerPhoneNumber">Kundens telefonnummer:</label>
    <input type="text" id="customerPhoneNumber" th:field="*{customerPhoneNumber}" />

    <!--<<label for="userLogin">Brugerlogin:</label>
    <input type="text" id="userLogin" th:value="${agreement.userLogin}" disabled />-->

    <!--<label for="damageReportId">Skaderapport ID:</label>
    <input type="number" id="damageReportId" th:field="*{damageReportId}" />
    -->

    <label for="startDate">Startdato:</label>
    <input type="date" id="startDate" th:field="*{startDate}" />

    <label for="endDate">Slutdato:</label>
    <input type="date" id="endDate" th:field="*{endDate}" />

    <label for="active">Aktiv:</label>
    <input type="checkbox" id="active" th:field="*{active}" />

    <label for="allowedKM">Tilladte KM:</label>
    <input type="number" id="allowedKM" th:field="*{allowedKM}" />

    <label for="kmOverLimit">KM over grænse:</label>
    <input type="number" id="kmOverLimit" th:field="*{kmOverLimit}" />

    <button type="submit">Opdater</button>

    <a th:href="@{'/damageReport/damageReport?damageReportId=' + ${agreement.id}}">
        Gå til skadesrapport
    </a>
</form>

</body>
</html>
